* {
  margin: 0;
  padding: 0;
  overflow: auto;
  font-family: 'Times New Roman', Times, serif;
}

.info {
  position: absolute;
  left: 10px;
  font-size: 2rem;
  text-align: center;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.error {
  margin-left: 20px;                                                                                                                                                  
  color: #721c24;
  background-color: #f8d7da;
}

.links {
  position: absolute;
  left: 10px;
  top:40px;
  font-size: 1.5rem;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.clearButton {
	background-color:#44c767;
	border:1px solid #18ab29;
	cursor:pointer;
	color:#000;
	font-size:1.3rem;
	padding:6px 36px;
}
.clearButton:hover {
	background-color:#5cbf2a;
}