* {
  margin: 0;
  padding: 0;
  overflow: auto;
}

.info {
  position: absolute;
  left: 10px;
  font-size: 2rem;
  text-align: center;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.error {
  margin-left: 20px;
  background-color: red;
}